*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/ParseStarterProject/*.iml
/ParseStarterProject/.gradle
/ParseStarterProject/local.properties
/ParseStarterProject/.idea/workspace.xml
/ParseStarterProject/.idea/libraries
/ParseStarterProject/.DS_Store
/ParseStarterProject/build
/ParseStarterProject/captures
/ParseStarterProject/.externalNativeBuild
